<h1>Listing bug_traxes</h1>

<table>
  <thead>
    <tr>
      <th>Submitter</th>
      <th>Url</th>
      <th>Description</th>
      <th>Level</th>
      <th>Tag</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bug_traxes.each do |bug_trax| %>
      <tr>
        <td><%= bug_trax.submitter %></td>
        <td><%= bug_trax.url %></td>
        <td><%= bug_trax.description %></td>
        <td><%= bug_trax.level %></td>
        <td><%= bug_trax.tag %></td>
        <td><%= link_to 'Show', bug_trax %></td>
        <td><%= link_to 'Edit', edit_bug_trax_path(bug_trax) %></td>
        <td><%= link_to 'Destroy', bug_trax, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bug trax', new_bug_trax_path %>
