<h1>List All Validations</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Sample</th>
      <th>Confirmation</th>
      <th>Reference build</th>
      <th>Chr</th>
      <th>Pos</th>
      <th>Ref</th>
      <th>Alt</th>
      <th>Hgvs c</th>
      <th>Hgvs p</th>
      <th>Gene</th>
      <th>Transcript</th>
      <th>Exon</th>
      <th>Primer forward</th>
      <th>Primer reverse</th>
      <th>Pcr size</th>
      <th>Annealing temp</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <!--<th></th>-->
    </tr>
  </thead>

  <tbody>
    <% @validations.each do |validation| %>
      <tr>
        <td><%=link_to validation.sample.primeName.name, validation.sample %></td>
        <td><%= validation.confirmation %></td>
        <td><%= validation.reference_build %></td>
        <td><%= validation.chr %></td>
        <td><%= validation.pos %></td>
        <td><%= validation.ref %></td>
        <td><%= validation.alt %></td>
        <td><%= validation.hgvs_c %></td>
        <td><%= validation.hgvs_p %></td>
        <td><%= validation.gene %></td>
        <td><%= validation.transcript %></td>
        <td><%= validation.exon %></td>
        <td><%= validation.primer_forward %></td>
        <td><%= validation.primer_reverse %></td>
        <td><%= validation.pcr_size %></td>
        <td><%= validation.annealing_temp %></td>
        <td><%= validation.notes %></td>
        <td><%= link_to 'Show', validation %></td>
        <td><%= link_to 'Edit', edit_validation_path(validation) %></td>
        <!--<td><%#= link_to 'Destroy', validation, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Validation', new_validation_path %>
