<p id="notice"><%= notice %></p>

<p>
  <strong>Sample:</strong>
  <%= @validation.sample %>
</p>

<p>
  <strong>Confirmation:</strong>
  <%= @validation.confirmation %>
</p>

<p>
  <strong>Reference build:</strong>
  <%= @validation.reference_build %>
</p>

<p>
  <strong>Chr:</strong>
  <%= @validation.chr %>
</p>

<p>
  <strong>Pos:</strong>
  <%= @validation.pos %>
</p>

<p>
  <strong>Ref:</strong>
  <%= @validation.ref %>
</p>

<p>
  <strong>Alt:</strong>
  <%= @validation.alt %>
</p>

<p>
  <strong>Hgvs c:</strong>
  <%= @validation.hgvs_c %>
</p>

<p>
  <strong>Hgvs p:</strong>
  <%= @validation.hgvs_p %>
</p>

<p>
  <strong>Gene:</strong>
  <%= @validation.gene %>
</p>

<p>
  <strong>Transcript:</strong>
  <%= @validation.transcript %>
</p>

<p>
  <strong>Exon:</strong>
  <%= @validation.exon %>
</p>

<p>
  <strong>Primer forward:</strong>
  <%= @validation.primer_forward %>
</p>

<p>
  <strong>Primer reverse:</strong>
  <%= @validation.primer_reverse %>
</p>

<p>
  <strong>Pcr size:</strong>
  <%= @validation.pcr_size %>
</p>

<p>
  <strong>Annealing temp:</strong>
  <%= @validation.annealing_temp %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @validation.notes %>
</p>

<%= link_to 'Edit', edit_validation_path(@validation) %> |
<%= link_to 'Back', validations_path %>
